.header {
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  border-radius: 5px;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
  width: 100%
}

.container {
  padding: 2px 16px;
  text-align: center;
}

.card a {
  color: #000000;
  text-decoration: none;
}

#assets {
  margin-top: 50px;
}

.filter {
  font-size: 24px;
  margin-left: 25px;
  margin-bottom: 0;
  margin-top: 0;
}

.toggle {
  margin-left: 25px;
}
